<div class="container" style="padding-top: 3em">
    <div class="container">

        <div class="box-container">
            <h3>Temperatura en Chile</h3>
            <div style="padding: 1em" class="row">
                <span style="text-align:center">Selecciona una comuna</span>
                <div class="col selector">
                    <select [(ngModel)]="selectedCityValue" (change)="onCitySelected()">
                        <option *ngFor="let city of ciudades" [value]="city">{{ city }}</option>
                    </select>
                </div>
                <div *ngIf="cityIsSelected" class="selected">
                    <div class="row" style="text-align:center; margin-top: 1em">
                        <div style="font-weight: bolder; font-size: 1.2em" class="col">{{ communeName }}, {{countryCode}}</div>
                    </div>
                    <div class="info-container">
                        <div class="row" style="padding:1em">
                            <div class="col image">
                                <img 
                                    *ngIf="description == 'clear sky'"
                                    src="../assets/images/sol.png">
                                <img 
                                    *ngIf="description == 'overcast clouds' || 
                                    description == 'broken clouds' ||
                                    description == 'scattered clouds' ||
                                    description == 'few clouds' ||
                                    description == 'mist' ||
                                    description == 'haze' ||
                                    description == 'fog'" 
                                    src="../assets/images/nublado.png">
                                <img 
                                    *ngIf="description == 'moderate rain' ||
                                    description == 'light rain' ||
                                    description == 'drizzle' ||
                                    description == 'light intensity shower rain' ||
                                    description == 'heavy intensity rain' ||
                                    description == 'shower rain'"  
                                    src="../assets/images/lluvia.png">
                                <img 
                                    *ngIf="description == 'thunderstorm with rain'"
                                    src="../assets/images/truenos.png">
                                <img
                                    *ngIf="description == 'light snow'"
                                    src="../assets/images/nieve.png">
                            </div>
                            <div class="col info">
                                <div *ngIf="description == 'light snow'" class="row">Nieve ligera</div>
                                <div *ngIf="description == 'clear sky'" class="row">Cielo despejado</div>
                                <div *ngIf="description == 'overcast clouds'" class="row">Nubes encapotadas</div>
                                <div *ngIf="description == 'broken clouds'" class="row">Nubes dispersas</div>
                                <div *ngIf="description == 'scattered clouds'" class="row">Nubes dispersas</div>
                                <div *ngIf="description == 'few clouds'" class="row">Pocas nubes</div>
                                <div *ngIf="description == 'mist'" class="row">Neblina</div>
                                <div *ngIf="description == 'haze'" class="row">Bruma </div>
                                <div *ngIf="description == 'fog'" class="row">Neblina</div>
                                <div *ngIf="description == 'moderate rain'" class="row">Lluvia moderada</div>
                                <div *ngIf="description == 'light rain'" class="row">Lluvia leve</div>
                                <div *ngIf="description == 'drizzle'" class="row">Llovizna</div>
                                <div *ngIf="description == 'light intensity shower rain'" class="row">Lluvia de ligera intensidad</div>
                                <div *ngIf="description == 'heavy intensity rain'" class="row">Lluvia de gran intensidad</div>
                                <div *ngIf="description == 'thunderstorm with rain'" class="row">Tormena con lluvia</div>

                                <div class="row">Temperatura: {{actualT.toString().slice(0,4)}}°C</div>
                                <div class="row">Máxima: {{maxT.toString().slice(0,4)}}°C</div>
                                <div class="row">Mínima: {{minT.toString().slice(0,4)}}°C</div>
                                <div class="row">Humedad: {{humidity}}%</div>
                                <div class="row">Viento: {{ windSpeed}}km/H</div>
                                <div class="row">Longitud: {{longitud}}</div>
                                <div class="row">Latitud: {{latitude}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>